
.box{
    width: auto;
    background-color: white;
    padding: 5px;
    border-radius: 13px;
    justify-items: center;
    align-items: center;
    h3{
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
    }
    input{
        width: 97%;
        height: 30px;
        padding-left: 5px;
        background-color: orange;
        border: none;
        border-radius: 10px;
    }
    .email{
        margin-bottom: 15px;
    }
    .click{
        justify-items: center;
    }
    button{
        font-size: 1.5rem;
        border: none;
        border-radius: 13px;
        padding: 5px 10px;
        margin-top: 15px;
    }
}